*, *::after, *::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 248, 238);
    background: linear-gradient(180deg, rgba(255, 248, 238, 1) 0%, rgba(249, 238, 227, 1) 24%, rgba(255, 255, 255, 1) 70%);
}

img{
    max-width: 100%;
}

.container {
    max-width: 1217px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 182px;
}

.header__menu-list {
    display: flex;
}

.header__menu-link a {
    color: #322f2e;
    font-weight: 700;
    font-size: 15px;
    padding: 0 45px 0 0;
}

.header__menu-btn {
    color: #fff;
    border-radius: 50px;
    background-color: #c47344;
    width: 129px;
    height: 47px;
    padding: 13px 28px;
    cursor: pointer;
}

.header__descr {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header__descr_orange {
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    background-color: #F9A38F;
    width: 51px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    padding: 1px 13px;
}

.header__descr_gray {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #4D4D4D;
    background-color: #f9ede2;
    width: 188px;
    height: 25px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    right: 9px;
}

.header__title {
    font-weight: 700;
    font-size: 110px;
    line-height: 119px;
    text-align: center;
    color: #322f2e;
    margin-bottom: 28px;
}

.header__text {
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    color: #322f2e;
    text-align: center;
    padding: 0 324px;
    margin-bottom: 20px;
}

.header__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-top: 14px;
    background-color: #c47344;
    width: 158px;
    height: 47px;
    border-radius: 50px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 50px;
}

.header__link a {
    color: #fff;
}

.header__partners-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 31px;
}

.header__partners-link {
    text-align: center;
}

.header__partners-link::after {
    content: url('../images/icons/arrow_next.svg');
    position: relative;
    left: 7px;
    top: 2px;
}

.header__partners-link a {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #c47344;
}

.header__background-img {
    background-image: url('../images/header/people.png');
    min-height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
}

.art {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.art__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 3;
    bottom: 130px;
}

.art__box {
    margin: 0 30px 30px 0;
    width: 497px;
    min-height: 498px;
    background: #FFFAF2;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.08);
}

.art__box img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}

.art__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: #322f2e;
    text-align: center;
    padding-top: 26px;
}

.art__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #322f2e
}

.art__link {
    width: 152px;
    min-height: 48px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #E1DED9;
    display: block;
    margin: 0 auto;
    color: #000;
    padding-top: 13px;
    margin-bottom: 34px;
}

.quiz {
    display: flex;
    justify-content: center;
}

.quiz__substrate {
    width: 220px;
    height: 260px;
    border-radius: 10px;
    background-color: #32686f;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.55);
}

.quiz__box {
    position: relative;
    left: 7px;
    bottom: 268px;
    width: 220px;
    height: 260px;
    border-radius: 10px;
    background-color: #32686f;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.55);
}

.quiz__number {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 19px 0 23px 33px;
}

.quiz__images {
    padding-left: 25px;
    padding-bottom: 12px;
}

.quiz__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    padding-left: 25px;
    padding-bottom: 32px;
}

.quiz__line {
    width: 170px;
    height: 1px;
    margin-left: 25px;
    margin-bottom: 9px;
    background: rgba(255, 255, 255, 0.18);
}

.quiz__link {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 25px;
}

.quiz__link::after {
    content: url('../images/icons/arrow__right.svg');
    margin-left: 114px;
}

.quiz__descr {
    position: relative;
    bottom: 100px;
    margin-left: 84px;
}

.quiz__subject {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    width: 54px;
    height: 25px;
    border-radius: 20px;
    background-color: #F9A38F;
    margin-bottom: 18px;
}

.quiz__title_big {
    font-weight: 700;
    font-size: 53px;
    line-height: 62px;
    margin-bottom: 25px;
    max-width: 423px;
}

.quiz__text {
    color: #322f2e;
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 23px;
    max-width: 423px;
}

.quiz__link-2 {
    display: block;
    box-shadow: 0px 7px 5px -5px #E1DED9;
    padding-top: 11px;
    text-align: center;
    color: #000;
    font-weight: 700;
    line-height: 20px;
    font-size: 15px;
    width: 146px;
    height: 47px;
    border-radius: 50px;
    border: 2px solid #E1DED9;
}

.form__container {
    width: 1220px;
    height: 413px;
    border-radius: 10px;
    background: #FAF7F3;
    margin-bottom: 146px;
}

.form__images {
    margin: 41px 0 0 60px;
}

.form__content-right {
    display: inline-block;
    margin-left: 51px;
    position: relative;
    bottom: 80px;
}

.form__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #1a1918;
    margin-bottom: 24px;
}

.form__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    max-width: 544px;
    margin-bottom: 30px;
}

.form__email {
    width: 380px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding: 0px 0px 0px 31px;
    color: rgba(0, 0, 0, 0.45);
    background-color: #fff;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-image: url('../images/icons/form_arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer__social, .footer__social-item {
    display: flex;
    align-items: flex-end;
}

.footer__social-item li {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.footer__social-item li+.footer__social-item li {
    margin-left: 0;
}

.footer__privacy {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #d3d3d3;
    margin-right: 15px;
}

.footer__top {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 36px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__text {
    max-width: 313px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #313131;
    margin-bottom: 31px;
}

.footer__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #313131;
    margin-bottom: 10px;
}

.footer__logo-2 {
    margin-bottom: 29px;
}

.footer__logo-3 {
    margin-bottom: 19px;
}

.footer__text-2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #d3d3d3;
    max-width: 314px;
    margin-bottom: 20px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #d3d3d3;
}

.footer__right {
    margin-left: 217px;
    display: flex;
}

.footer__list-item {
    margin-top: 7px;
}

.footer__item-link {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #313131;
}

.footer__menu-list-2 {
    margin-left: 116px;
    margin-right: 100px;
}

.footer__title-link {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 12px;
}

.footer__link_orange {
    display: inline-block;
    width: 50px;
    height: 23px;
    background-color: #F9A38F;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    margin-left: 8px;
}

